body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

.button{
  background: #fd324e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px;
}

.header{
  position: relative;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 70px;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.guitarras {
  color: #1F313C;

}

.guitarras h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.portada {
  background-image: url('../images/background.png');
  color: white;
  padding: 20px;
}

.portada button{
  margin-bottom: 70px;
}

.menu{
  display: inline-block;
  font-size: 24px;
  position: absolute;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
}

.logotipo {
  display: inline-block;
}

.contenedor{
  margin: auto;
  width: 800px;
}

.guitarra{
  border: 1px solid #1F313C;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.guitarra ol{
  padding: 0;
}
.derecha{
  float: right;
  position: relative;
  top: -127px;
}

.izquierda{
  float: left;
  position: relative;
  top: 80px;
}

.contenedor-guitarras-a{
  padding-left: 20px;
}

.contenedor-guitarras-b{
  margin-left: 370px;
}

.contacto {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.contacto img{
  display: block;
}

.contacto strong{
  display: block;
}

.contacto a{
  color: white;
  margin: 10px 10px 10px 0;
  text-decoration: none;
}

.footer{
  background: #273b47;
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.formulario {
  color: white;
  display: flex;
  padding: 50px 10px;
  width: 400px;
}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}

.col2 {
  align-items: flex-start;
}

.intereses label{
  font-size: 12px;
}

.formulario label, .sexo, .intereses{
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}
